*{
  box-sizing: border-box;
}
body{
  background-image: url(back01.jpg);
}
header{
  padding: 10px;
  width: 100%;
  margin: auto;
}
hr{
  color: grey;
  height: 1px;
  width: 98%;
  margin: auto;
}
footer{
  margin-bottom: 100px;
  clear: both;
  width: 100%;
  margin-top: 50px;
}
p{
  color: black;
  text-align: justify;
  margin: 30px;
}
a, li{
  color: black;
}
section{
  background-color: white;
}
.headerHeading{
  text-align: left;
  margin-top: -20px;
}
.navbar{
  padding: 10px;
  list-style-type: none;
}
.navli{
  display: block;
  float:right;
  padding: 10px;
}
.songs{
  background-color: powderblue;
  width: 100%;
  margin: auto;
  height:500px;
}
.songs1{
  background-color: powderblue;
  width: 100%;
  margin: auto;
  height:700px;
}
.catg{
  display: block;
  float: left;
  width: 30%;
  margin: 20px;
  padding: 10px;
}
.footer{
  margin: auto;
  text-align: center;
  padding: 30px;
}
.imageflower{
  margin: auto;
  width: 250px;
  height: 175px;
  border: auto;
}
